@tailwind base;
@tailwind components;
@tailwind utilities;
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

ul {
    display: flex;
}

li {
    list-style: none;
    padding: 10px;
    font-size: 20px;
}


/* a.nav-active {
    background-color: blue;
    border-radius: 7px;
    transition: all 0.9s;
} */


/* a.nav-active :hover {
    background-color: black;
    border-radius: 7px;
    transition: all 0.9s;
} */

.react {
    text-align: center;
    margin-top: 10px;
    padding-bottom: 10px;
}

.ant-card-cover img {
    border-radius: 50px !important;
}

.ant-card-bordered {
    border-radius: 50px !important;
}